<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :order_number, :placeholder => 'Order Number'   %>
  <%= f.input :order_date , :placeholder => 'Order Date' %>
  <%= f.input :list_of_products , :placeholder => 'Products' %>
  <%= f.input :quantity_of_product, :placeholder => 'Product Quantity' %>
  <%= f.input :quantity , :placeholder => 'Quantity' %>
  <%= f.input :sum , :placeholder => 'Sum'%>
  <%= f.input :customer_id,:placeholder => 'Customer ID'  %>


    
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
  
  
