<%- model_class = Order -%>
<% provide(:title ,'Order') %>
<% provide(:header ,'Orders') %>


<div class="page-header">
  <h1><%#=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:order_number) %></th>
      <th><%= model_class.human_attribute_name(:order_date) %></th>
      <th><%= model_class.human_attribute_name(:list_of_products) %></th>
      <th><%= model_class.human_attribute_name(:quantity_of_product) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:sum) %></th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.order_number %></td>
        <td><%= order.order_date %></td>
        <%# order.products.each do |product| %>

                <%#= link_to(product.name + ',', {:controller => 'products', :action => 'show', :id => product.id})%> 
                <%# end %>
        <td><%= order.list_of_products %></td>

        <td><%= order.quantity_of_product %></td>
        <td><%= order.quantity %></td>
        <td><%= order.sum %></td>
        <td><%= link_to(order.customer_id, customer_path(order.customer_id)) if order.customer %></td>
        <td><%=l order.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order), :class => 'btn btn-sm' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
<%= will_paginate @orders%>